body {
    margin: 0;
    text-align: left;
    color:white;
    font-family: 'Blinker', sans-serif;
}

#videoBGcontainer{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#videoBGcontainer video{
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


form{
    background-color: rgba(38, 38, 83, 0.7);
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
}

#title, #description{
    text-align: center;
}

#title {
    font-family: 'Grenze Gotisch', cursive;
    font-style: italic;
}

input[type=text], input[type=email], input[type=number]{
    margin-top: 7px;
    width: 100%;
    border-radius: 4px;
    padding: 2px 0;
}
select {
    width: 100%;
    padding: 12px 0;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    resize: none;
    height: 45px;
    border-radius: 4px;
}

#submit{
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    background-color: yellowgreen;
    border: 1px solid #ccc;
    border-radius: 8px;
}